node_modules
pxt_modules
*.sw?
built
typings/
tmp/
*.ts.new
temp/
projects/
packaged
/static/
gh-pages
_locales
package-lock.json
.vscode/ipch
*.code-workspace
*.DS_STORE
.pxt/
*.user
*.sw?
*.ts.new
*.tgz
*.db
*.suo
*.log

hexcache
build

# Ignore self-signed certificates created by mkcert
pxt-steami-backend/https/**/*.pem
pxt-steami-backend/https/**/*.key
pxt-steami-backend/https/**/*.crt
pxt-steami-backend/https/**/*.cert
